@font-face {
  font-family: "Zpix";
  src: url("https://cdn.jsdelivr.net/gh/SolidZheng/zpix-font@master/dist/zpix.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --fc-crimson: #8c1b1b;
  --fc-cream: #f6ebcf;
  --fc-black: #212529;
  --fc-green: #92cc41;
  --fc-blue: #209cee;
  --font-pixel-cn: "Zpix", "SimSun", "宋体", monospace;
  --font-pixel-en: "VT323", monospace;
}

*,
*::before,
*::after {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

html,
body {
  font-family: var(--font-pixel-cn);
  background-color: var(--fc-cream);
  color: var(--fc-black);
  cursor: url("https://cdn.xuepoo.xyz/shared/retro-wand.png"), auto;
}
