{% extends "base.html" %} {% block page_data %} { "type": "taxonomy_single", "term": {{ term.name |
json_encode | safe }}, "posts": [ {% for page in term.pages %} { "title": {{ page.title |
json_encode | safe }}, "url": {{ page.permalink | json_encode | safe }}, "date": {{ page.date |
date(format='%Y-%m-%d') | json_encode | safe }}, "slug": {{ page.slug | safe | json_encode | safe
}}, "description": {{ page.description | default(value="") | json_encode | safe }}, "summary": {{
page.summary | default(value="") | json_encode | safe }}, "tags": {{ page.extra.tags |
default(value=[]) | json_encode | safe }} }{% if not loop.last %},{% endif %} {% endfor %} ] } {%
endblock %}
